body {
    height: 1650px;
    width: 1550px;
    padding: 0 0 0 0;
    margin: 0 auto;
}

#nav {
    height: 50px;
    background-color: #f6f6f6;
    padding-left: 30px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: right;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: #787b83;
    font-size: 14px;
    font-family: '微软雅黑';
    line-height: 28px;
}

#nav a:hover,
#nav .active a {
    color: #87ceeb;
    border-bottom: 3px solid #87ceeb;
}

#title {
    height: 100px;
    background-color: rgba(245, 245, 245, 1);
    font-size: 60px;
    background: linear-gradient(to bottom, white, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

#content {
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
    background: #E3FAFF;
}

#area1 {
    height: 620px;
    padding: 60px 60px;
    margin: 0 auto;
}

#table1 {
    height: 620px;
    width: 800px;
    float: left;
    background-image: linear-gradient(to right, #95EDFF, #DBF9FF);
}

#content1 {
    height: 620px;
    width: 620px;
    float: left;
    position: relative;
    background-image: linear-gradient(to right, #DBF9FF, #fff);
    box-shadow: 3px 3px 6px -3px #606060;
}

#content1 p {
    font-size: 22px;
    font-family: '宋体';
    color: #aaaaaa;
    margin: 0 0;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 300px;
    line-height: 40px;
}

#content1 .title {
    font-size: 50px;
    font-family: '宋体';
    color: #aaaaaa;
    margin: 0 0;
    position: absolute;
    left: 150px;
    top: 200px;
}

#content1 strong {
    color: red;
}

#area2 {
    height: 500px;
    padding: 0 60px 60px 60px;
    margin: 0 auto;
}

#table2 {
    height: 500px;
    width: 800px;
    float: left;
    background-color: rgba(135, 206, 250, 0.3);
    background-image: linear-gradient(to right, #DBF9FF, #95EDFF);
}

#content2 {
    height: 500px;
    width: 620px;
    float: left;
    background-color: white;
    position: relative;
    background-image: linear-gradient(to right, #fff, #DBF9FF);
    box-shadow: -3px -3px 6px -3px #606060;
}

#content2 p {
    font-size: 22px;
    font-family: '宋体';
    color: #aaaaaa;
    margin: 0 0;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 300px;
    line-height: 40px;
}

#content2 .title {
    font-size: 50px;
    font-family: '宋体';
    color: #aaaaaa;
    margin: 0 0;
    position: absolute;
    left: 150px;
    top: 200px;
}

#content2 strong {
    color: red;
}

#bottom {
    height: 300px;
    background-color: #4f4f4f;
    position: relative;
}

#bottom .p1 {
    font-size: 25px;
    font-family: '黑体';
    color: #fff;
    margin: 0 0;
    position: absolute;
    left: 700px;
    top: 60px;
}

#bottom .p2 {
    font-size: 15px;
    font-family: '宋体';
    color: #fff;
    margin: 0 0;
    position: absolute;
    top: 100px;
    left: 620px;
}

#bottom .search {
    width: 512px;
    height: 41px;
    margin: 0 0;
    position: absolute;
    left: 490px;
    bottom: 100px;
}

#bottom .text {
    width: 432px;
    height: 41px;
    background: #fff;
    border: 1px solid #989a9e;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #aaaaaa;
    text-indent: 2em;
    outline: none;
    float: left;
}

#bottom .btn {
    width: 78px;
    height: 45px;
    border: none;
    padding-left: 15px;
    background: #6f7278;
    font-size: 15px;
    font-family: '微软雅黑';
    color: #fff;
    letter-spacing: 1em;
    float: right;
}

#bottom .search .btn:hover {
    background: #7c7e82;
    color: #e4e6e9;
}

#foot {
    height: 50px;
    background-color: #3b3b3b;
}

#foot a {
    font-size: 18px;
    font-family: '宋体';
    color: #fff;
    text-decoration: none;
    margin: 15px 15px;
    float: right;
}